# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1- Python
2- R
3- Excel

Some of the commonly used libraries used by Data Scientists include:
1- Pandas
2- Numpy
3- Matplotlib

In [1]:
import pandas as pd

In [2]:
Table = {'Data Science Tools' : ['Python', 'R', 'Excel'] }

In [3]:
Table = pd.DataFrame(Table)

In [4]:
Table.head()

  Data Science Tools
0             Python
1                  R
2              Excel

### Below are a few examples of evaluating arithmatic expression in Python

In [7]:
# This is a simple arithmatic expression to multiply then add integers
a = (3*4)+5

In [6]:
print(a)

17

In [9]:
# This will convert 200 minutes to hours by dividing by 60 mins.
minutes = 200
hours = minutes/60
print(hours)

3.3333333333333335

# Objectives:
### 1- How to create cells
### 2- How to rename files
### 3- How to perform simple functions
### 4- How to import library

## Author :

Zahra Jahani Keleshteri